body {
    margin: 0;
    padding: 0;
}

a {
    /* accessible colors selected with http://colorsafe.co */
    color: #3455db;
    text-decoration: none;
}

a:hover {
    color: #9932cc;
}

a:active {
    color: #f1d874;
}

/* layout */

.navigation {
    position: relative;
    padding: 0.5em 2em;
    min-height: 4em;
    background-color: #fcfcfc;
    border-bottom: 2px solid #f0f0f0;
}

.content {
    position: relative;
    padding: 1em 1.5em;
}

h1 {
    margin-top: 0;
}

@media print {
    body {
        background-color: #ffffff;
    }

    .content {
        margin: 0;
        padding: 0;
    }

    :global .no-print {
        display: none;
    }
}

@page {
    size: A4 portrait;
    margin: 0;
    padding: 0;
}
