body {
    margin: 0;
    padding: 0;
}

a {
    /* accessible colors selected with http://colorsafe.co */
    color: #3455db;
    text-decoration: none;
}

a:hover {
    color: #9932cc;
}

a:active {
    color: #f1d874;
}

/* layout */

.navbar {
    position: relative;
    padding: 0.5em 0.5em;
    background-color: #fcfcfc;
    border-bottom: 2px solid #f0f0f0;
}

.nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 18px;
}

.nav li {
    text-align: center;
    margin: 8px auto;
    padding: 0 1em;
    white-space: nowrap;
}

.auth {
    text-align: center;
    margin: 4px auto;
    padding: 0 1em;
    font-size: 16px;
}

.content {
    position: relative;
    padding: 1em 1.5em;
}

h1 {
    margin-top: 0;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        flex-wrap: wrap;
    }

    .nav {
        display: flex;
        justify-content: center;
        flex: auto;
    }

    .nav li {
        flex: auto;
        border-right: 1px solid #ccc;
    }

    .nav li:last-of-type {
        border-right: none;
    }

    .auth {
        flex: none;
    }
}

@media print {
    body {
        background-color: #ffffff;
    }

    .content {
        margin: 0;
        padding: 0;
    }

    :global .no-print {
        display: none;
    }
}

@page {
    size: A4 portrait;
    margin: 0;
    padding: 0;
}
