{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "useBuiltIns": "usage",
      "corejs": 3,
      "debug": false
    }],
    "@babel/react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["react-intl", {
      "messagesDir": "./target/messages/"
    }]
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {"node": true}
        }],
        "@babel/react",
        "@babel/preset-typescript"
      ]
    }
  }
}
