{
  "presets": [
    ["es2015", {"modules": false}],
    "react",
    "flow"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-async-to-generator",
    ["react-intl", {"messagesDir": "./target/messages/"}]
  ]
}
