{:dev true
 :port 8081
 ;; when :nrepl-port is set the application starts the nREPL server on load
 :nrepl-port 7000
 :database-url "jdbc:postgresql://localhost/territorybro?user=territorybro&password=territorybro"
 :gis-database-host "localhost"
 :auth0-domain "luontola.eu.auth0.com"
 :auth0-client-id "8tVkdfnw8ynZ6rXNndD6eZ6ErsHdIgPi"
 :super-users "developer"
 :support-email "support@example.com"
 :demo-congregation "89f8bcde-fa65-47cb-b5cc-9b11d01e410d"}
