#kaocha/v1
    {:tests [{:id :fast
              :skip-meta [:slow]
              :test-paths ["src" "test"]
              :ns-patterns ["^territory-bro"]}
             {:id :slow
              :focus-meta [:slow]
              :test-paths ["src" "test"]
              :ns-patterns ["^territory-bro"]}]
     :kaocha/reporter [kaocha.report.progress/report]
     :capture-output? true}
