{:dev false
 :port 8080
 ;; when :nrepl-port is set the application starts the nREPL server on load
 :nrepl-port nil
 :nrepl-bind "127.0.0.1"
 :database-url nil
 :database-schema "territorybro"
 :gis-database-host nil
 :gis-database-name "territorybro"
 :gis-database-ssl-mode "prefer"
 :auth0-domain nil
 :auth0-client-id nil
 :super-users nil
 :support-email nil
 :demo-congregation nil}
