
.root {
    width: 100%;
    height: 100%;
    /* layout */
    display: grid;
    grid-template-columns: [center] auto;
    grid-template-rows: [header] 12mm [content] auto;
}

.name {
    grid-column: center;
    grid-row: header;
    /* text style */
    font-size: 9mm;
    font-weight: bold;
    text-align: center;
}

.map {
    grid-column: center;
    grid-row: content;
}
