
.root {
    /* full page printout */
    flex: 1;
    /* print margins */
    margin: 8mm;
    /* layout */
    --minmap-size: 17mm;
    display: grid;
    grid-template-columns: var(--minmap-size) auto var(--minmap-size);
    grid-template-rows: var(--minmap-size) auto;
    grid-template-areas:
            "minimap header number"
            "map map map";
}

.header {
    grid-area: header;
    align-self: start; /* different from TerritoryCard because margins are bigger */
}

.title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.region {
    text-align: center;
    font-size: 16px;
}

.number {
    grid-area: number;
    justify-self: end;
    font-size: 30px;
    font-weight: bold;
}

.minimap {
    grid-area: minimap;
}

.map {
    grid-area: map;
}

.minimap canvas, .map canvas {
    border-radius: 2mm;
}
