
.root {
    /* full page printout */
    flex: 1;
    /* print margins */
    margin: 8mm;
    /* layout */
    --minimap-size: 17mm;
    display: grid;
    grid-template-columns: var(--minimap-size) auto var(--minimap-size);
    grid-template-rows: var(--minimap-size) auto;
    grid-template-areas: "minimap header number" "map map map";
}

.header {
    composes: header from "./TerritoryCard.css";
}

.title {
    composes: title from "./TerritoryCard.css";
}

.region {
    composes: region from "./TerritoryCard.css";
}

.number {
    composes: number from "./TerritoryCard.css";
}

.minimap {
    composes: minimap from "./TerritoryCard.css";
}

.map {
    composes: map from "./TerritoryCard.css";
}
