<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Territory Bro</title>
    {% script "/js/app.js" %}
</head>
<body>

<nav class="no-print">
    <ul>
        <li><a href="{{servlet-context}}/?lang={{lang}}">Overview</a></li>
        <li><a href="{{servlet-context}}/territory-cards?lang={{lang}}">Territory Cards</a></li>
        <li><a href="{{servlet-context}}/neighborhood-maps?lang={{lang}}">Neighborhood Maps</a></li>
        <li><a href="{{servlet-context}}/region-maps?lang={{lang}}">Region Maps</a></li>
    </ul>
    <p>Change language:
        <a href="{{uri}}?lang=en">English</a>
        <a href="{{uri}}?lang=fi">Finnish</a>
        <a href="{{uri}}?lang=pt">Portuguese</a>
    </p>
</nav>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

{% style "/assets/purecss/build/pure-min.css" %}
{% style "/css/territories.css" %}

{% script "/assets/jquery/jquery.min.js" %}
<script type="text/javascript">
    var context = "{{servlet-context}}";
</script>
{% block page-scripts %}
{% endblock %}

</body>
</html>
