<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Territory Bro</title>
    {% script "/js/app.js" %}
</head>
<body>

<nav class="no-print">
    <ul>
        <li><a href="{{servlet-context}}/">Introduction</a></li>
        <li><a href="{{servlet-context}}/territory-cards">Territory Cards</a></li>
        <li><a href="{{servlet-context}}/neighborhood-maps">Neighborhood Maps</a></li>
    </ul>
</nav>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

{% style "/assets/purecss/build/pure-min.css" %}
{% style "/css/territories.css" %}

{% script "/assets/jquery/jquery.min.js" %}
<script type="text/javascript">
    var context = "{{servlet-context}}";
</script>
{% block page-scripts %}
{% endblock %}

</body>
</html>
