{% extends "base.html" %}

{% block content %}
<h1>Territory Bro</h1>

{{docs|markdown}}

<h2>Import</h2>

<p>The database has currently {{territory-count}} territories and {{region-count}} regions.</p>

<form action="/import-territories" method="post" enctype="multipart/form-data">
    {% csrf-field %}
    <p>Territories GeoJSON: <input type="file" name="territories"></p>
    <p>Regions GeoJSON: <input type="file" name="regions"></p>
    <button type="submit" class="btn btn-primary">Import</button>
</form>
{% endblock %}
