{% extends "base.html" %}

{% block content %}
<h1 class="no-print">Region Maps</h1>

{% for region in regions %}
<div class="region-page crop-area">
    <div class="name">{{ region.name }}</div>
    <div id="region-map-{{ region.id }}" class="region-map"></div>
</div>
{% endfor %}
{% endblock %}

{% block page-scripts %}
{% style "/assets/openlayers/ol.css" %}
{% script "/assets/openlayers/ol.js" %}
{% for region in regions %}
<script type="text/javascript">
    territoryBro.initRegionMap('region-map-{{ region.id }}', '{{ region.location }}', {{territories-json|safe}});
</script>
{% endfor %}
{% endblock %}
