{% extends "base.html" %}
{% block content %}
<h2>Territories</h2>

{% for territory in territories %}
<div class="croppable-territory-card">
    <div class="crop-mark-top-left"></div>
    <div class="crop-mark-top-right"></div>
    <div class="territory-card">
        <div class="title">Aluekartta</div>

        <div class="city">
            <div class="title-label">Paikkakunta</div>
            <div class="title-value">{{ territory.region }}</div>
        </div>
        <div class="number">
            <div class="title-label">Alue nro</div>
            <div class="title-value">{{ territory.number }}</div>
        </div>

        <div id="map-{{ territory.id }}" class="map"></div>

        <div class="addresses">{{ territory.address|semicolon-to-newline }}</div>

        <div class="footer">
            Pidä tätä korttia kotelossa. Älä tahri äläkä taita sitä äläkä tee siihen mitään merkintöjä.
            <br>Joka kerta kun alue on käyty läpi, ilmoita siitä veljelle, joka hoitaa aluekarttoja.
        </div>
    </div>
    <div class="crop-mark-bottom-left"></div>
    <div class="crop-mark-bottom-right"></div>
</div>
{% endfor %}

<div class="territories-import">
    <h2>Import</h2>

    <form action="/territories" method="post" enctype="multipart/form-data">
        {% csrf-field %}
        <p>Territories GeoJSON: <input type="file" name="territories"></p>
        <button type="submit" class="btn btn-primary">Import</button>
    </form>
</div>
{% endblock %}

{% block page-scripts %}
{% style "/assets/openlayers/ol.css" %}
{% script "/assets/openlayers/ol.js" %}
{% for territory in territories %}
<script type="text/javascript">
    territoryBro.initTerritoryMap('map-{{ territory.id }}', '{{ territory.location }}');
</script>
{% endfor %}
{% endblock %}
