{% extends "base.html" %}

{% block content %}
<h1 class="no-print">Territory Cards</h1>

{% for territory in territories %}
<div class="croppable-territory-card">
    <div class="crop-mark-top-left"><img src="/img/crop-mark.svg" alt=""></div>
    <div class="crop-mark-top-right"><img src="/img/crop-mark.svg" alt=""></div>
    <div class="crop-area territory-card">
        <div class="number">{{ territory.number }}</div>
        <div id="minimap-{{ territory.id }}" class="minimap"></div>

        <div class="title">{{ i18n.territory-card.title }}</div>
        <div class="region">{{ territory.region }}</div>

        <div id="map-{{ territory.id }}" class="map"></div>
        <div class="addresses">{{ territory.address|semicolon-to-newline }}</div>

        <div class="disclaimer">
            <div>Printed {{ today }} with TerritoryBro.com</div>
        </div>

        <div class="footer">{{ i18n.territory-card.footer1 }}<br>{{ i18n.territory-card.footer2 }}</div>
    </div>
    <div class="crop-mark-bottom-left"><img src="/img/crop-mark.svg" alt=""></div>
    <div class="crop-mark-bottom-right"><img src="/img/crop-mark.svg" alt=""></div>
</div>
{% endfor %}
{% endblock %}

{% block page-scripts %}
{% style "/assets/openlayers/ol.css" %}
{% script "/assets/openlayers/ol.js" %}
{% for territory in territories %}
<script type="text/javascript">
    territoryBro.initTerritoryMap(
            'map-{{ territory.id }}',
            '{{ territory.location }}');
    territoryBro.initTerritoryMiniMap(
            'minimap-{{ territory.id }}',
            '{{ territory.center }}',
            '{{ territory.minimap_viewport }}',
            '{{ territory.congregation }}',
            '{{ territory.subregions }}');
</script>
{% endfor %}
{% endblock %}
