@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif, "Noto Color Emoji";
}

a {
    /* accessible colors selected with http://colorsafe.co */
    color: #3455db;
    text-decoration: none;
}

a:hover {
    color: #9932cc;
}

a:active {
    color: #f1d874;
}

kbd {
    /* With the default monospace font, the ⇧ icon looks too small to read. */
    font-family: "system-ui", sans-serif;
}

/* layout */

.navbar {
    position: relative;
    padding: 0.5em 0.5em;
    background-color: #fcfcfc;
    border-bottom: 2px solid #f0f0f0;
}

.nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 18px;
}

.nav li {
    text-align: center;
    margin: 8px auto;
    padding: 0 1em;
    white-space: nowrap;
}

.active {
    font-weight: bold;
}

.lang, .auth {
    text-align: center;
    margin: 4px auto;
    padding-right: 1em;
    font-size: 16px;
}

select.languageSelection:not(:focus) {
    /* make the dropdown look like a link when it has no focus */
    color: #3455db;
    appearance: none;
    border: none;
    background: none;
    box-shadow: none;
    padding: 0;
    margin-left: 2px;
}

select.languageSelection:not(:focus):hover {
    color: #9932cc;
    cursor: pointer;
}

.languageSelectionIcon {
    font-size: 2em;
    vertical-align: middle;
}

.languageSelectionIcon:has(+ select.languageSelection:not(:focus)) {
    /* clicking the icon will toggle the dropdown's focus,
       so show the pointer cursor only when clicking the icon
       would focus the dropdown */
    cursor: pointer;
}

:global #htmx-error-dialog {
    color: red;

    & button {
        float: right;
        background-color: red;
    }

    &::backdrop {
        background-color: #ccc;
        opacity: 0.75;
    }
}

.content {
    position: relative;
    padding: 1em 1.5em;
}

h1 {
    margin-top: 0;
}


/* XXX: avoid layout flicker due to Font Awesome icons rendering asynchronously: https://docs.fontawesome.com/web/dig-deeper/svg-async */
/* TODO: switch to using bare SVG, without JS: https://docs.fontawesome.com/web/add-icons/svg-bare */
.wait-for-icons {
    display: none;
}

:global(.fontawesome-i2svg-active) .wait-for-icons {
    display: initial;
}


@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        flex-wrap: wrap;
    }

    .nav {
        display: flex;
        justify-content: center;
        flex: auto;
    }

    .nav li {
        flex: auto;
        border-right: 1px solid #ccc;
    }

    .nav li:last-of-type {
        border-right: none;
    }

    .lang, .auth {
        flex: none;
    }
}

@media print {
    body {
        background-color: #ffffff;
    }

    .content {
        margin: 0;
        padding: 0;
    }

    :global .no-print {
        display: none;
    }
}

@page {
    size: A4 portrait;
    margin: 0;
    padding: 0;
}
