:root {
    --territory-card-width: 14.5cm;
    --territory-card-height: 9.5cm;
    --crop-mark-size: 0.7cm;
}

.croppable-territory-card {
    page-break-inside: avoid;
    display: grid;
    grid-template-columns: var(--crop-mark-size) var(--territory-card-width) var(--crop-mark-size);
    grid-template-rows: var(--crop-mark-size) var(--territory-card-height) var(--crop-mark-size);
    margin-bottom: 0.3cm;
}

/* Crop Marks */

.crop-mark-top-left {
    grid-column: 1;
    grid-row: 1;
}

.crop-mark-top-left img {
    transform: rotate(180deg);
    width: 100%;
    height: 100%;
}

.crop-mark-top-right {
    grid-column: 3;
    grid-row: 1;
}

.crop-mark-top-right img {
    transform: rotate(270deg);
    width: 100%;
    height: 100%;
}

.crop-mark-bottom-left {
    grid-column: 1;
    grid-row: 3;
}

.crop-mark-bottom-left img {
    transform: rotate(90deg);
    width: 100%;
    height: 100%;
}

.crop-mark-bottom-right {
    grid-column: 3;
    grid-row: 3;
}

.crop-mark-bottom-right img {
    transform: rotate(0deg);
    width: 100%;
    height: 100%;
}

/* Territory Card */

.territory-card {
    grid-column: 2;
    grid-row: 2;
    padding: 0.3cm 0.7cm;
    font-size: 12pt;
}

.territory-card .title {
    text-align: center;
    font-size: 110%;
    font-weight: bold;
}

.territory-card .title-label {
    float: left;
    font-weight: bold;
    margin-right: 2ex;
    margin-bottom: 0.5em;
}

.territory-card .title-value {
    float: left;
}

.territory-card .city {
    float: left;
}

.territory-card .number {
    float: right;
}

.territory-card .map {
    clear: left;
    float: left;
    width: 7cm;
    height: 6.3cm;
}

.territory-card .addresses {
    clear: right;
    float: right;
    width: 5.5cm;
    margin-left: 0.5cm;
    margin-top: 2cm;
    white-space: pre-line;
}

.territory-card .footer {
    clear: both;
    padding-top: 0.3cm;
    text-align: center;
    font-size: 60%;
    font-weight: bold;
}

@media print {
    .territories-import {
        display: none;
    }
}
