table.spreadsheet {
    margin: 0.5em;
}

table.spreadsheet td {
    border: 1px solid gray;
    padding: 3px;
}

details.experimentalFeatures {
    :is(summary) {
        font-weight: bold;
        cursor: pointer;
    }

    &[open] summary {
        margin-bottom: 1em;
    }
}
