.getting-started {
    float: right;
    width: min(100%, 30rem);
    margin-bottom: 1rem;
}

ul.checklist {
    /* alternatives: ⏳ 🕑 ⬜ 🔲 */
    list-style-type: "⏳ ";
    padding-left: 1.7rem;
    font-size: 1.1rem;

    :is(li) {
        margin-bottom: 0.5rem;

        &.completed {
            list-style-type: "✅ ";
        }
    }
}
