
.sidebar {
    background: #f9f9f9;
    padding: 0 1.5rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
}

@media screen and (min-width: 64rem) {
    .sidebar {
        float: right;
        max-width: 25rem;
        margin-left: 1rem;
    }
}

.congregationList {
    font-size: 1.35rem;
}
